* {
    box-sizing: border-box;
}


.main-nav-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.171);

    .main-nav {

        .main-menu {

            .menu-item {
                display: inline-block;
                list-style: none;
                cursor: pointer;
                margin: 20px;
                padding: 10px;
                font-size: 20px;
            }
            .menu-item:hover {
                color: grey;
            }
        }
    }

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

}

.main-header {

    h1 {
        text-align: center;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


}